body {
  min-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: center/cover ;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  overflow: hidden;
}

.footer {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  /* height: 100vh; */
  flex-direction: column;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.ancients-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
}

.ancients-container .ancient-card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  width: 250px;
  height: 324px;
  border: 0.6vh solid goldenrod;
}

.ancients-container .ancient-card.active {
  /* border: 2px solid red */
  border: 1vh solid orange;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 100vh; */
  justify-content: center;
  width: 25vh;
}

.difficulty-container .difficulty {
  border: 0.5vh solid gold;
  box-sizing: border-box;
  color: gold;
  cursor: pointer;
  padding: 5px;
  text-align: center
}

.difficulty-container .difficulty.active {
  /* background-color: red */
  border: 1vh solid orange;
}

.deck-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  /* min-width: 30%; */
  width: 20vh;
}

.deck-container .shuffle-button {
  /* background-color: red; */
  border: 0.5vh solid goldenrod;
  color: gold;
  cursor: pointer;
  padding: 5px
}

.deck-container .current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%
}

.deck-container .current-state .stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px
}

.deck-container .current-state .stage-container .stage-text {
  color: gold
}

.deck-container .current-state .stage-container .stage-text.done {
  color: red
}

.deck-container .current-state .stage-container .dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center
}

.deck-container .current-state .stage-container .dot {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 33px;
  justify-content: center;
  width: 40px
}

.deck-container .current-state .stage-container .dot.green {
  background-color: green
}

.deck-container .current-state .stage-container .dot.brown {
  background-color: brown
}

.deck-container .current-state .stage-container .dot.blue {
  background-color: blue
}

.deck-container .deck {
  cursor: pointer
}

.deck-container .deck,
.deck-container .last-card {
  background-size: cover;
  height: 190px;
  width: 130px
}

.card-wrapper {
  width: 60vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* gap: 5vh */
}

.card-back {
  width: 250px;
  height: 368px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 5px 27px 19px rgb(0 0 0 / 50%) inset;
  border-radius: 5px;
  outline: none;
  border: none;
}

.card-open {
  width: 250px;
  height: 368px;
  box-shadow: 0px 5px 27px 19px rgb(0 0 0 / 50%) inset;
  border-radius: 5px;
  outline: none;
  border: none;
}